[Unit]
Description=Test NodeJS + Dojo Toolkit

[Service]
ExecStart=/home/edwinspire/Documentos/Desarrollo/open-monitoring-system/run_app.sh
Restart=always
User=edwinspire
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/edwinspire/Documentos/Desarrollo/open-monitoring-system

[Install]
WantedBy=multi-user.target